<%- include("includes/header" ) %>
<link rel="stylesheet" type="text/css" href="/css/login.css">
<body>
   
    <form class="login_container" action="/resto/login" method="POST">
        <div class="login_frame">
           
            <div class="login_top">
                <span>Saytga Kirish</span>
                <div >
                    Bosh Sahifaga qaytish <a href="/resto" style="color: #6440fb">Home</a> 
                </div>
                <p>Ro'yhattan O'tganmisiz ? <a href="/resto/signup" style="color: #6440fb">Ro'yhattan o'tish</a></p>
            </div>

            <div class="login_input_frame">
                <div  class="login_input_container">
                    <label>Foydalanuvchi ismi: </label>
                    <input type="text" placeholder="Foydalanuvchining ismi" required value="" name="mb_nick"/>
                </div>
                <div class="login_input_container">
                    <label>Password: </label>
                    <input type="password" placeholder="Password" value="" required name="mb_password"/>
                </div>
            </div>

            <button class="login_btn btn" name="login" type="submit">
                Kirish
            </button>


        </div>
    </form>
</body>
<%- include("includes/footer" ) %>