<%- include("includes/header" ) %>
<body>
    <h1>My Restaurant Page</h1>
    <% if (!member) { %>
        <h2>Siz Authenticated user emassiz</h2>
    <%} else { %>
        <h1>Siz Authenticated bolgansiz va sizning nickingiz <%= member.mb_nick %></h1>
        <p>sizning telefon nomeringiz <%= member.mb_phone %></p>
    <%}%>
</body>

<%- include("includes/footer" ) %>